<div class="lw_courses_list">
    <div id="course-5" class="box py-3 coursebox grid span4 col-md-4 grid col-xs-12 row">
        <div class="course_image_embed" style="background-image:url(http://localhost/moodle/pluginfile.php/29/course/overviewfiles/vr.jpg); background-size:cover"></div>
        <div class="teacher_image_wrap"></div>
        <div class="course_title">
            <h2 class="title"><a title="VR Programming" href="http://localhost/moodle/course/view.php?id=5">VR Programming</a></h2>
            <div class="box py-3 flush row"></div>
        </div>
        <div class="course_description">VR programmers write the code for cutting-edge game development. VR, in which a player puts on a headset or goggles and had the sensation of actually stepping into another world, offers a deeper sense of immersion than video games.
            But for all its immersive potential, VR programmers have significant challenges to overcome to make the most of the technological possibilities.
        </div>
        <div class="progress" data-label="0% Complete">
            <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
        <div class="teacher_names"></div>
        <div class="box py-3 flush row"></div>
    </div>
    <div id="course-3" class="box py-3 coursebox grid span4 col-md-4 grid col-xs-12 row">
        <div class="course_image_embed" style="background-image:url(http://localhost/moodle/pluginfile.php/27/course/overviewfiles/mobile-dev.jpg); background-size:cover"></div>
        <div class="teacher_image_wrap"></div>
        <div class="course_title">
            <h2 class="title"><a title="Mobile App development" href="http://localhost/moodle/course/view.php?id=3">Mobile App development</a></h2>
            <div class="box py-3 flush row"></div>
        </div>
        <div class="course_description">Mobile developers write programs inside of a mobile development environment using the Objective C, C++, C# or Java programming languages. A mobile app developer chooses the operating system (a.k.a. mobile platform) they will develop for, such as Google's Android or Apple's iOS, then learns the programming languages and software development environment for that platform.</div>
        <div class="progress" data-label="0% Complete">
            <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
        <div class="teacher_names"></div>
        <div class="box py-3 flush row"></div>
    </div>
    <div id="course-6" class="box py-3 coursebox grid span4 col-md-4 grid col-xs-12 row">
        <div class="course_image_embed" style="background-image:url(http://localhost/moodle/pluginfile.php/1/block_lw_courses/courseimagedefault/courses-default.jpg); background-size:cover"></div>
        <div class="teacher_image_wrap"></div>
        <div class="course_title">
            <h2 class="title"><a title="Financial Accounting" href="http://localhost/moodle/course/view.php?id=6">Financial Accounting</a></h2>
            <div class="box py-3 flush row"></div>
        </div>
        <div class="course_description"></div>
        <div class="progress" data-label="0% Complete">
            <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
        <div class="teacher_names"></div>
        <div class="box py-3 flush row"></div>
    </div>
</div>