<aside id="block-region-content" class="block-region" data-blockregion="content" data-droptarget="1">
    <a href="#sb-1" class="sr-only sr-only-focusable">Skip My Courses</a>

    <section id="inst73" class=" block_lw_courses block  card mb-3" role="complementary" data-block="lw_courses"
             aria-labelledby="instance-73-header">

        <div class="card-body p-3" id="yui_3_17_2_1_1605838931509_24">

            <h5 id="instance-73-header" class="card-title d-inline">My Courses</h5>


            <div class="card-text content mt-3" id="yui_3_17_2_1_1605838931509_23">
                <div class="carousel slide lw_courses_list" id="demo" data-ride="carousel">
                    <div class="carousel-inner container-fluid">
                        <div class="carousel-item row row-equal">
                            <div id="course-5" class="box py-3 coursebox col-lg-4 col-md-6 col-sm-6 col-12 row">
                                <div class="course_image_embed"
                                     style="background-image:url(http://localhost/moodle/pluginfile.php/29/course/overviewfiles/vr.jpg); background-size:cover">

                                </div>
                                <div class="course_title"><h2 class="title"><a title="VR Programming"
                                                                               href="http://localhost/moodle/course/view.php?id=5">VR
                                    Programming</a></h2>
                                    <div class="box py-3 flush row"></div>
                                </div>
                                <div class="course_description">VR programmers write the code for cutting-edge game
                                    development. VR, in which a player puts on a headset or goggles and had the
                                    sensation of actually stepping into another world, offers a deeper sense of
                                    immersion than video games.

                                    But for all its immersive potential, VR programmers have significant challenges to
                                    overcome to make the most of the technological possibilities.
                                </div>
                                <div class="progress" data-label="0% completed">
                                    <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width:0%"></div>
                                </div>
                                <div class="box py-3 flush row"></div>
                            </div>
                            <div id="course-4" class="box py-3 coursebox col-lg-4 col-md-6 col-sm-6 col-12 row">
                                <div class="course_image_embed"
                                     style="background-image:url(http://localhost/moodle/pluginfile.php/28/course/overviewfiles/ml.jpg); background-size:cover"></div>
                                <div class="course_title"><h2 class="title"><a title="Coding for AI"
                                                                               href="http://localhost/moodle/course/view.php?id=4">Coding
                                    for AI</a></h2>
                                    <div class="box py-3 flush row"></div>
                                </div>
                                <div class="course_description">AI programmers create the brains of the game. The
                                    non-playable characters (NPCs - the ones that are not controlled by a player) need
                                    to make decisions and behave in ways that are believable, exciting and present the
                                    player with varying degrees of challenge. The role of the AI programmer is to write
                                    the code that outlines the way these characters operate. This gives the impression
                                    that NPCs have thought and emotion.

                                    AI programming is a highly specialised area, however, there is often overlap with
                                    physics and gameplay programming. The exact scope of the job varies from studio to
                                    studio.
                                </div>
                                <div class="progress" data-label="0% completed">
                                    <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width:0%"></div>
                                </div>
                                <div class="box py-3 flush row"></div>
                            </div>
                            <div id="course-2" class="box py-3 coursebox col-lg-4 col-md-6 col-sm-6 col-12 row">
                                <div class="course_image_embed"
                                     style="background-image:url(http://localhost/moodle/pluginfile.php/25/course/overviewfiles/datascience.jpg); background-size:cover"></div>
                                <div class="course_title"><h2 class="title"><a title="Introduction to Data Science"
                                                                               href="http://localhost/moodle/course/view.php?id=2">Introduction
                                    to Data Science</a></h2>
                                    <div class="box py-3 flush row"></div>
                                </div>
                                <div class="course_description">Data science is the field of study that combines domain
                                    expertise, programming skills, and knowledge of mathematics and statistics to
                                    extract meaningful insights from data. Data science practitioners apply machine
                                    learning algorithms to numbers, text, images, video, audio, and more to produce
                                    artificial intelligence (AI) systems to perform tasks that ordinarily require human
                                    intelligence. In turn, these systems generate insights which analysts and business
                                    users can translate into tangible business value.
                                </div>
                                <div class="progress" data-label="0% completed">
                                    <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width:0%"></div>
                                </div>
                                <div class="box py-3 flush row"></div>
                            </div>
                        </div>
                        <div class="carousel-item row row-equal active">
                            <div id="course-6" class="box py-3 coursebox col-lg-12 col-md-6 col-sm-6 col-12 row">
                                <div class="course_image_embed"
                                     style="background-image:url(http://localhost/moodle/pluginfile.php/1/theme_ycampus/coursecat2/0/business.jpg); background-size:cover"></div>
                                <div class="course_title"><h2 class="title"><a title="Financial Accounting"
                                                                               href="http://localhost/moodle/course/view.php?id=6">Financial
                                    Accounting</a></h2>
                                    <div class="box py-3 flush row"></div>
                                </div>
                                <div class="course_description"></div>
                                <div class="progress" data-label="0% completed">
                                    <div class="value" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width:0%"></div>
                                </div>
                                <div class="box py-3 flush row"></div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#demo"><span
                            class="carousel-control-prev-icon"></span></a><a class="carousel-control-next"
                                                                             data-slide="next" href="#demo"
                                                                             id="yui_3_17_2_1_1605838931509_22"><span
                        class="carousel-control-next-icon" id="yui_3_17_2_1_1605838931509_21"></span></a></div>
                <div class="footer"><h5>New courses Available</h5>
                    <div class="carousel slide lw_courses_list" id="demo" data-ride="carousel">
                        <div class="carousel-inner container-fluid">
                            <div class="carousel-item row row-equal active">
                                <div id="course-3" class="box py-3 coursebox col-lg-12 col-md-6 col-sm-6 col-12 row">
                                    <div class="course_image_embed"
                                         style="background-image:url(http://localhost/moodle/pluginfile.php/27/course/overviewfiles/mobile-dev.jpg); background-size:cover"></div>
                                    <div class="course_title"><h2 class="title"><a title="Mobile App development"
                                                                                   href="http://localhost/moodle/course/view.php?id=3">Mobile
                                        App development</a></h2>
                                        <div class="box py-3 flush row"></div>
                                    </div>
                                    <div class="course_description">Mobile developers write programs inside of a mobile
                                        development environment using the Objective C, C++, C# or Java programming
                                        languages. A mobile app developer chooses the operating system (a.k.a. mobile
                                        platform) they will develop for, such as Google's Android or Apple's iOS, then
                                        learns the programming languages and software development environment for that
                                        platform.
                                    </div>
                                    <div class="box py-3 flush row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <span id="sb-1"></span></aside>